# Copy this file to .env and adjust values if needed.
# docker-compose automatically reads .env from the same folder as docker-compose.yml

POSTGRES_DB=solarwatch
POSTGRES_USER=solarwatch
POSTGRES_PASSWORD=solarwatch

# Optional
SPRING_JPA_HIBERNATE_DDL_AUTO=update

